

table,th,td{
    border: 2px black solid;

 
 
}

tr:hover {
    background-color: lightgray;
}

th{
    text-align: center;
    background-color: gray;
    color: white;
   

}


td{
    vertical-align: bottom;
    text-align: center;
}

.button-group{
    margin-top: 0em;
    margin-bottom: 1em;
}

.box {
    
       margin-left: 3%;
       
     
}


.table-form {
    font-size: 20px;
    margin-top: 1em;
    margin-left: 1em;

}